CONFIG_ESPNOW_MESH_ROLE_SATELLITE=y
CONFIG_ESPNOW_MESH_CHANNEL=1
CONFIG_ESPNOW_MESH_TIME_SYNC_INTERVAL_MS=5000
CONFIG_ESPNOW_MESH_TIME_SYNC_MAX_DELAY_US=30000
CONFIG_ESPNOW_MESH_TIME_SYNC_FILTER_SHIFT=3
CONFIG_ESPNOW_MESH_REGISTRATION_AP_ENABLE=y
CONFIG_ESPNOW_MESH_REGISTRATION_SSID="esp-now-mesh"
CONFIG_ESPNOW_MESH_REGISTRATION_PASSWORD="espnowmesh"
CONFIG_ESPNOW_MESH_REGISTRATION_MAX_CONNECTIONS=5
CONFIG_ESPNOW_MESH_REGISTRATION_LISTEN_MS=5000
CONFIG_ESPNOW_MESH_REGISTRATION_RETRY_INTERVAL_MS=15000
CONFIG_ESPNOW_MESH_REGISTRATION_SCAN_MS=300
CONFIG_ESPNOW_MESH_REGISTRATION_CONNECT_TIMEOUT_MS=10000
CONFIG_ESPNOW_MESH_REGISTRATION_HOLD_MS=1500
CONFIG_ESPNOW_MESH_EVENT_QUEUE_LEN=32
